[Unit]
Description=SNMP Exporter
After=network.target

[Service]
Type=simple
User=prometheus
ExecStart=/usr/local/bin/snmp_exporter --config.file=/etc/snmp_exporter/snmp.yml
Restart=on-failure

[Install]
WantedBy=multi-user.target
