[OPTIONS]
ACTION="Install"
QUIET="True"
FEATURES=SQLENGINE,CONN,SNAC_SDK
INSTANCENAME="{{ mssql_instance_name }}"
INSTANCEDIR="{{ mssql_install_dir }}"
SQLSVCACCOUNT="{{ mssql_service_account }}"
SQLSVCPASSWORD="{{ vault_mssql_svc_password }}"
AGTSVCACCOUNT="{{ mssql_service_account }}"
AGTSVCPASSWORD="{{ vault_mssql_svc_password }}"
SECURITYMODE="SQL"
SAPWD="{{ mssql_sa_password }}"
SQLUSERDBDIR="{{ mssql_data_dir }}"
SQLUSERDBLOGDIR="{{ mssql_log_dir }}"
SQLBACKUPDIR="{{ mssql_backup_dir }}"
SQLSYSADMINACCOUNTS="BUILTIN\Administrators"
TCPENABLED="1"
NPENABLED="0"
BROWSERSVCSTARTUPTYPE="Disabled"
